@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 15px;
	width: 350px;
	font-family: sans-serif;
	background: #82b2e2;
	color: white;
	border-radius: 50px;
	font-size: 15px;
}

#NombreVendedor{
	margin: 5px 0px;
	width: 100%;
	text-align: center;

}

button:hover{
	background-color: #447cb4;
	color: #ccc;
	transition: all 0.5s ease-in-out;
}

.fs-px12{
	text-align: center;
	font-size: 12.5px;
}

#Producto{
    height: 72px;
    background-color: #fff;
    border-radius: 5px;
    color: #2c5e90;
    text-align: center;
    padding: 2px 0px;
	/* background-image: url("./chibi-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-blend-mode: multiply;
	background-position: right; */
}

#Producto h2{
	margin: 10px 0 0 0;
}

input, input:focus-visible {
    outline: none;
    border-radius: 5px;
	padding: 10px 0px;
	border: 0;
	overflow: scroll;
}

textarea, textarea:focus-visible {
    outline: none;
    border-radius: 5px 5px 0 0;
    min-height: 90px;
    padding: 4px 4px;
    border: 0;
    overflow: hidden;
    resize: none;
}

#form{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

#form button{
	border-radius: 0 0 10px 10px;
}

button, button:focus {
	background-color: #e6e6e6;
	border: 0;
	padding: 8px;
}

.center{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center; 
}

#BtnAutocompletar{
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	border-radius: 5px;
	margin: 2px;
}

span{
	padding: 3px;
	border-radius: 2px;
}

#idDataView h4{
	margin: 5px;
    border-radius: 7px;
}

#TextoProducto{
	max-width: 80%;
}

#BtnProcesarProducto{
	background-color: #6998d0;
	border-radius: 5px;
	color: #fff;
	width: 85%;
}

#TextoProducto{
	background-color: rgba(255, 255, 255, 0.1);
}

h4{
	font-family: "Poppins", sans-serif;
	padding: 8px 4px;
	background-color: #6998d0;
	box-shadow: inset -1px 3px 5px 1px #2c5e90;
}